/* globals */

:root{
	--background: #ffeecc;
	--background-light: #fff5e0;
	--text: #222222;
	--text-dark: #000000;
	--text-medium: #888888;
	--text-light: #eeeeee;
	--highlight: #fb4570;
	--highlight-light: #fc5e83;
	--selection: #7b1e7a;
	--selection-light: #90238e;
	--error: #880000;
	--menu-semitransparent: #ffffff44;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
		url("../public/PTSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
		url("../public/PTSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
		url("../public/PTSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"),
		url("../public/PTSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

*{
	transition: all 0.2s ease-in-out;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body */

body{
	background: var(--background);
	color: var(--text);
	font-family: "PT Sans";
}

::selection{
	background: var(--selection);
	color: var(--background);
}

main{
	max-width: 1500px;
	margin: 0 auto;
}

/* descriptions */

.description{
	color: var(--selection);
	margin: 10px 0px;
}

/* inputs */

input[type="text"]{
	background: var(--background-light);
	border: 1px solid var(--highlight);
	border-radius: 10px;
	padding: 5px;
	color: var(--highlight);
}

input[type="text"]:focus{
	background: var(--background);
	outline: none;
	border: 1px solid var(--selection);
	color: var(--selection);
}

button{
	background: var(--selection);
	color: var(--background);
	border: none;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	margin: 2px;
}

button:hover{
	color: var(--highlight);
}

/* links */

a{
	color: var(--highlight);
	text-decoration: none;
	background: linear-gradient(-90deg, transparent 0%, transparent 50%, var(--highlight) 50%, var(--highlight) 100%);
	background-size: 400% 100%;
	background-position: right;
}

a:hover{
	color: var(--selection);
	background-position: 20%;
}

/* lists */

ul, ol{
	padding-left: 20px;
}

/* text */

p{
	text-align: justify;
}
